#map {
    position: relative;
    height: 100%;
    flex-grow: 1;
}

.slider {
}

.level-indicator {
    position: absolute;
    font-size:xx-large;
    color: blue;
    opacity: 0.5;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
}

.legend {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    opacity: .5;
}

.photo {
    position: absolute;
    z-index: 1000;
}

.slider-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.floating-button {
    position: absolute;  /* This ensures the button is positioned relative to the map container */
    top: 10px;           /* Distance from the top of the map */
    right: 10px;         /* Distance from the right side of the map */
    z-index: 1000;       /* Ensure it floats above the map layers */
}

.legend-item {
    display: flex;
    align-items: center;
}

.color-box {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

/* Styles for the fullscreen preview */
#fullscreen-preview-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent backdrop */
    z-index: 2000; /* High z-index to be on top of other content */
    justify-content: center;
    align-items: center;
  }
  
  #fullscreen-preview-backdrop img {
    max-width: 95%; /* Margin to ensure it doesn't touch edges */
    max-height: 95%;
  }